.listProducts {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-rows: minmax(400px, auto);
  align-items: center;
  margin-left: 10%;
}
.products {
  border: rgb(214, 214, 214) solid 1px;
  margin: 10px;
  cursor: pointer;
}
.copyright {
  background-color: rgb(27, 23, 23);
  width: 100%;
  color: rgb(172, 171, 171);
  text-align: center;
  padding: 10px;
  margin-top: 10%;
}
.info-products {
  background: rgb(240, 240, 240);
  text-align: center;
  padding: 5px;
}
.title {
  font-weight: bold;
  font-size: 20px;
}
.currency {
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 0, 0);
}
.listProducts-home {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 50px 50px 50px;
}
.products-home {
  text-align: center;
  margin: 20px;
  background: rgb(240, 240, 240);
  border: rgb(214, 214, 214) solid 1px;
}
h3 {
  font-weight: bold;
  color: rgb(240, 240, 240);
  text-align: center;
  background: linear-gradient(to left, #3c269b, #e9b423);
  letter-spacing: 2px;
}
h4 {
  font-weight: bold;
  color: rgb(240, 240, 240);
  text-align: center;
  margin-top: 3%;
  background: linear-gradient(to left, #3c269b, #e9b423);
}
.offer {
  color: rgb(20, 187, 14);
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 18px;
}
.pay {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
h5 {
  font-weight: bold;
  font-size: 20px;
}
i {
  margin: 1%;
  padding: 3%;
}
.img-detail {
  margin: 40px;
}
.title-detail {
  margin-top: 25px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
.price-detail {
  text-align: center;
  letter-spacing: 3px;
}
.offer-detail {
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 25px;
  color: rgb(13, 156, 8);
}
.currency-price-detail {
  text-align: center;
  letter-spacing: 3px;
  text-decoration: line-through;
  font-weight: bold;
  font-size: 20px;
}
.input {
  height: 30px;
  width: 300px;
  padding: 5px;
  font-size: 1rem;
  letter-spacing: 1px;
  border: none;
  border-bottom: 1px solid rgb(117, 117, 117);
  font-weight: bold;
}
.input:focus {
  background-color: rgb(214, 214, 214);
  text-decoration: none;
}
.form-detail {
  text-align: center;
  border: 2px solid rgb(117, 117, 117);
  border-radius: 10px;
  margin: 5%;
  margin-left: 32%;
  padding: 3%;
  width: 550px;
}
.error {
  color: rgb(255, 0, 0);
  font-size: 12px;
  font-weight: bold;
}
.label {
  padding: 2%;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(27, 23, 23);
}
.btn-submit {
  margin-top: 10%;
  padding: 10px 40px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 2px;
  background: rgb(27, 23, 23);
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
}
.questions {
  margin: 3%;
  padding: 2%;
  text-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}
