.listProducts {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-rows: minmax(400px, auto);
  align-items: center;
  margin-left: 10%;
}
.products {
  border: rgb(214, 214, 214) solid 1px;
  margin: 10px;
}
.form-detail {
  margin: 5% 10%;
  align-items: center;
  width: 50%;
  height: 50%;
}
.btn-submit {
  margin-top: 5px;
  width: 90px;
  height: 40px;
  background: rgb(172, 171, 171);
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
}
.copyright {
  background-color: rgb(27, 23, 23);
  width: 100%;
  color: rgb(172, 171, 171);
  text-align: center;
  padding: 10px;
  margin-top: 10%;
}
.info-products{
  background: rgb(240, 240, 240);
  text-align: center;
  padding: 5px;
}
.title{
  font-weight: bold;
  font-size: 20px;
}
.currency{
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 0, 0);
}
.listProducts-home{
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 50px 50px 50px;
}
.products-home{
  text-align: center;
  margin: 20px;
  background: rgb(240, 240, 240);
  border: rgb(214, 214, 214) solid 1px;
}
h3{
  font-weight: bold;
  color: rgb(240, 240, 240);
  text-align: center;
  margin-top: 3%;
  background: linear-gradient(to left, #3c269b, #e9b423);
}
h4{
  font-weight: bold;
  color: rgb(240, 240, 240);
  text-align: center;
  margin-top: 3%;
  background: linear-gradient(to left, #3c269b, #e9b423);
}