@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";
*{
  font-family: 'Mulish', sans-serif;
  color: #252525;
}
body{
  width: 100%;
}